<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="crowfoundingHn">
<head>
    <title>Crowdfounding</title>
    <link href="../Assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    
    

    <script src="../Assets/bower_components/angular/angular.js"></script>
    <script src="../Assets/bower_components/angular-route/angular-route.js"></script>
    <script src="../Assets/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
</head>
<body>
    <div ng-view class="container">
        

    </div>

    <script src="../App/Config.js"></script>
    
    <!-- controllers -->
    <script src="../App/Controller/ProjectController.js"></script>
    <!-- services -->
    <script src="../App/Services/ProjectService.js"></script>

</body>

</html>
