<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\CrowfoundingHn.Presentation.Specs\packages.config" />
  <repository path="..\src\CrowfoundingHn.Presentation\packages.config" />
  <repository path="..\src\CrowfoundingHn.Projects.Specs\packages.config" />
</repositories>