
<div class="row">
    <div class="col-md-4">
       
          
    </div> 
    <div class="col-md-4">
        
    </div>

    <div class="col-md-4">
        <h1 class="text-center">Sign Up</h1>
        <form  role="form" id="registerForm">
            
            <div class="form-group">
                <label for="registerEmail">Email address</label>
                <input type="email" class="form-control" id="registerEmail" required>
            </div>

            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" id="registerPassword" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="registerConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="registerConfirmPassword" placeholder="Password" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>