<div class="row">
    
    
    <div class="col-md-4">
          <h1 class="text-center">Sign Up</h1>
        <form  role="form" id="registerForm">
            
            <div class="form-group">
                <label for="registerName">Name</label>
                <input type="text" ng-model="register.Name" class="form-control" id="registerName" placeholder="Name" required/>
            </div>
            <div class="form-group">
                <label for="registerEmail">Email address</label>
                <input type="email" class="form-control" ng-model="register.Email" id="registerEmail" placeholder="Email" required/>
            </div>

            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" ng-model ="register.Password" id="registerPassword" placeholder="Password" required/>
            </div>

            <div class="form-group">
                <label for="registerConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="registerConfirmPassword" ng-model="register.ConfirmPassword" placeholder="Confirm Password" required/>
            </div>
            
            <div class="form-group">
                <label for="registerAddres">Address</label>
                <input type="text" class="form-control" id="registerAddres" placeholder="Addresss" ng-model="register.Address"/>
            </div>
            
            <div class="form-group">
                <label for="regiterOcupation">Ocupation</label>
                <input type="text" class="form-control" id="regiterOcupation" placeholder="Ocupation" ng-model="register.Ocupation"/>
            </div>
            
            <div class="form-group">
                <label for="registerPhone">Phone</label>
                <input type="text" class="form-control" id="regiterPhone" placeholder="Phone" ng-model="register.Phone"/>
            </div>
            
            <button type="submit" class="btn btn-primary" ng-click="signUp(register)">Sign Up</button>
        </form>
    </div>

    <div class="col-md-6">
       

    </div>
</div>